.background-utama {
  background-color: #228B22;
}
.bg-image {
  display: flex;
  height: auto;
}

/* Auth */
.button-auth {
  background: #27583a;
  border-radius: 5px;
}
.button-auth button:hover {
  background: #1c422b;
}
.link-auth {
  text-align: center;
}
.link-auth a {
  color: #27583a;
}
.link-auth a:hover {
  text-decoration: underline;
}

/*==================================================== menu user ===================================================*/
.dropdown-menu-user {
  color: #27583a;
  font-size: 14px;
  text-decoration: none;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*======================================================= Home =====================================================*/
hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #27583a;
  opacity: 1;
}
.button-home {
  background: #27583a;
  border-radius: 30px;
  border: 2px solid;
}
.button-home:hover {
  background: #1c422b;
}

/*====================================================== konsultasi =================================================*/
.gambar-konsultasi {
  display: none;
  background-position: center;
  background-size: cover;
}
.custom-file-input:lang(en)~.custom-file-label::after {
  background-color: #27583a;
  color: #fff
}

/*====================================================== diagnosis ==================================================*/
.thead-table {
  background-color: #27583a;
  color: #fff
}
.button-diagnosis {
  text-align: center;
  border-radius: 5px;
}
.button-diagnosis .btn-diagnosis {
  background-color: #27583a;
}
.button-diagnosis .btn-diagnosis:hover {
  background: #1c422b;
}

/* customize checkbox */
input[type=checkbox] {
  cursor: pointer;
}
input[type=checkbox]:checked:after {
  background-color: #27583a;
}
.form-check-input {
  border: 2px solid #27583a;
}

/* ===================================================== hasil diagnosis ===============================================*/
.judul_hasil {
  font-weight: bold;
}
.nama-penyakit {
  color: #27583a;
  font-weight: bold;
}
.text-isi {
  text-align: justify;
}
.selesai {
  text-align: center;
}

/*================================================== basis pengetahuan ================================================*/
.gambar_penyakit {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* =================================================== informasi pakar ================================================*/
.card{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{

    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{

    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#27583a;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#27583a;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #27583a !important;
       color:#27583a;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #27583a !important;
       color:#fff;
       height:40px;
       background-color:#27583a;
}

.buttons button:nth-child(2){
       border:1px solid #27583a !important;
       background-color:#27583a;
       color:#fff;
        height:40px;
}

/* background-admin */
  .bg-gradient-utama {
    background-color: #006400;
    background-image: linear-gradient(180deg, #355133 10%, #228B22 100%);
    background-size: cover;
  }

/* admin profil */
.card {
  background-color: ;
}